<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to topic.name, topic %>
    </h4>
    <small>
      <%= topic.description %>
    </small>
    <h6>
      <%= topic.comments.count %> Comments
    <h6>
  </div>
</div>
